* {
  font-family: "Times New Roman", Times, serif;
}
.container {
  background: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.city {
  text-align: center;
  color: #f96d00;
  font-size: 40px;
  display: flex;
  justify-content: center;
}
.weather-details {
  text-align: center;
  color: #2c786c;
  font-size: 14px;
  font-weight: bold;
}
.hum {
  background-color: #f96d00;
  color: #ffffff;
  padding: 0 2px;
}
.wind {
  background-color: #f96d00;
  color: #ffffff;
  padding: 0 2px;
}
.emoji {
  height: 48px;
  width: 47px;
}
.degrees {
  text-align: center;
  font-size: 68px;
  margin: 55px;
}
.unit-small {
  font-size: 30px;
}
.search-form {
  text-align: center;
}
.footer {
  text-align: center;
  font-size: 14px;
  border-top: #ffcab0 solid 1px;
}
.search-city {
  background-color: #ffcab0;
  border: none;
  border-radius: 7px;
  padding: 10px;
  width: 40%;
  font-size: 14px;
}

.submit-search {
  background-color: #f96d00;
  border: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 7px;
  padding: 10px;
}
.links {
  color: #f96d00;
  text-decoration: none;
}
